<div class="span9" style="margin-top:30px;">
  <h4>
    <p class="notice-title">
      【預購網站怎麼用?】
    </p>
  </h4>
  <p>
  <span class="notice-step">
    Step1
  </span>
    眼明手快地點選想要的商品，選取數量，按下加入購物車
  </p>
  <p>
  <span class="notice-step">
  Step2
  </span>
  買完所有商品之後，按下查看購物車
  </p>
  <p>
  <span class="notice-step">
  Step3
  </span>
  別忘了在購物車下面打上基本資料：姓名、手機、信箱
  </p>
  <p>
  <span class="notice-step">
    Step4
  </span>
  選擇想要領預購商品的日期，可選擇黃道吉日5/15(星期三)或 5/16(星期四)
  </p>
  <p>
  <span class="notice-step">
    Step5
  </span>
  按下建立訂單之後，就完成網路預購手續了喔！之後，你可以生生不息地隨時透過本網站的「查詢訂單」功能，一邊擦口水一邊回想自己訂了什麼商品。
  </p>
  <p>預購網站開放時間4/12~5/5</p>
  <h4>
    <p class="notice-title">
    【我該怎麼繳費】
    </p>
  </h4>
  <p>
  <b>
    5/6 或 5/7中午12:15~14:30，請選擇一天，到博雅教學館靠近小福樓、醉月湖的空地，會有竹友會的工作人員在那裡收費。收費時會一併發放收據，請悉心珍藏，以供領貨時使用。
  </b><br />
  繳費位置示意圖：<br /><%= image_tag "https://dl.dropboxusercontent.com/u/106261618/Payment.jpg" %>
  </p>
  繳費前一天，我們會拋頭露面不計形象地發簡訊通知大家繳費訊息，請大家務必要記得繳費喔，不然訂單就會被取消了餒，一定要記得喔！
  <p>
  </p>
  <h4>
    <p class="notice-title">
    【快把我的食物給我─我該如何領預購商品】
    </p>
  </h4>
  <p>
    <b>
      請在自己選擇的時間(5/15或5/16)，中午12:30~16:00持收據到竹塹週小福攤位領取「預購商品」。
    </b>
  </p>
  <p>
  為了確保食物新鮮，我們統計完大家填寫的時間之後，會請廠商分兩天送達，所以一定要在自己選的那天來攤位領貨喔，以免向隅！
  </p>
  <p>
  領貨前一天，我們一樣會出神入化地用簡訊通知大家，請大家放心。
  </p>
  <p>
 看完那麼三八的預購須知，想必你已經蠢蠢欲動想要開始預購了吧。如果有什麼問題，歡迎在竹塹週FB粉絲專頁反映，我們會分秒必爭地回覆你喔，謝謝！
 <%= link_to '竹塹週FB粉絲專頁', 'https://www.facebook.com/EatMe2013BambooWeek' %>
  </p>
</div>
